.navbar {
    display: flex;
    justify-content: space-between;
    gap:1rem;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
    border-bottom: solid white 2px;
    overflow-x: auto;
}
