.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: #424242;
    padding: 2rem;
    border: solid white 2px;
    border-radius: 10px;
    width: 50%;
}

.login form {
    margin-bottom: 3rem;
}

.login form input {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    padding: 0.5rem;

}